body {
    font-family: Arial, Helvetica, sans-serif;
    color: #717171;
}

/* Header */
#topbar {
    font-family: Helvetica, sans-serif;
}

#topbar img {
    width: 6%;
}

.dropdown-toggle::after {
    display: none;
}

.toggle-img {
    width: 10px;
}

.search-icon {
    font-size: 1.6rem;
}

/* Jumbotron */
section#jumbotron {
    background-image: url('./../img/returnal-listing-thumb-01-ps5.jpg');
    background-size: cover;
    background-position: center;
}

section#jumbotron .jumbo-text {
    height: 60vh;
    overflow-y: hidden;
}

/* Last Game */
section#last-game {
    background-image: url('./../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

section#last-game div.last-game-text {
    height: 40vh;
}

/* New games */
section#new-games {
    background-color: rgb(31, 31, 31);
}

/* Playstation Plus */
section#plus {
    background-color: rgb(190, 188, 187);
}

section#plus img.left {
    width: 70%;
}

.btn-gray {
    background-color: rgb(217, 218, 220);
    border-color: rgb(217, 218, 220);
}

/* Playstation Now */
section#now {
    background-color: rgb(22, 28, 59);
}

section#now img.left {
    width: 60%;
}

/* Social */
section#social div.container-sm {
    max-width: 560px;
}

/* Footer */
footer {
    background-color: rgb(0, 67, 156);
}

footer li {
    list-style-type: none;
}

footer li a {
    text-decoration: none;
}

footer img.left {
    width: 20%;
}
