body {
    font-family: Arial, Helvetica, sans-serif;
    color: #717171;
}

/* Header */

#topbar {
    font-family: Helvetica, sans-serif;
}

#topbar img {
    width: 6%;
}

.dropdown-toggle::after {
    display: none;
}

.toggle-img {
    width: 10px;
}

.search-icon {
    font-size: 1.6rem;
}

/* Jumbotron */
#jumbotron {
    background-image: url('./../img/returnal-listing-thumb-01-ps5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#jumbotron .jumbo-text {
    height: 60vh;
    overflow-y: hidden;
}

/* Playstation */
.text-bluette {
    color: rgb(56, 145, 216);
}
