body {
    font-family: Arial, Helvetica, sans-serif;
    color: #717171;
}

/* Color utility */
.cs-bg-black {
    background-color: rgb(31, 31, 31);
}

.cs-bg-lightgray {
    background-color: rgb(190, 188, 187);
}

.btn-gray {
    background-color: rgb(217, 218, 220);
    border-color: rgb(217, 218, 220);
}

/* Header */
div#topbar {
    font-family: Helvetica, sans-serif;
}

div#topbar img {
    width: 6%;
    min-width: 60px;
}

nav .dropdown-toggle::after {
    content: url('./../img/chevron-down-solid.svg');
    width: 12px;
    vertical-align: middle;
    border: none;
}

nav .nav-item:hover .dropdown-toggle::after {
    content: url('./../img/chevron-down-solid-hover.svg');
}

nav .toggle-img {
    width: 10px;
}

nav img.lens {
    width: 2.3rem;
    vertical-align: middle;
}

/* Jumbotron */
section#jumbotron {
    background-image: url('./../img/jumbo-bg.png');
    background-size: cover;
    background-position: center;
}

section#jumbotron .jumbo-text {
    height: 60vh;
    overflow-y: hidden;
}

/* Games list */
section#game-list div.cs-border img {
    border-radius: 20px;
}

section#game-list div.cs-border.border {
    border-radius: 25px;
    transition: border .2s;
}

/* TODO Remove !important */
section#game-list div.cs-border:hover {
    border-color: rgb(7, 118, 207) !important;
}

/* Last Game */
section#last-game {
    background-image: url('./../img/it-takes-two-hero-banner-desktop.jpg');
    background-size: cover;
    background-position: center;
}

/* Playstation Plus */
section#plus img.left {
    width: 70%;
}

/* Playstation Now */
section#now {
    background-color: rgb(22, 28, 59);
}

section#now img.left {
    width: 60%;
}

/* Footer */
footer {
    background-color: rgb(0, 67, 156);
}

footer li {
    list-style-type: none;
    line-height: 2rem;
}

footer li a {
    text-decoration: none;
}

footer img.left {
    width: 20%;
    max-width: 140px;
}

footer img.globe {
    width: 16px;
    vertical-align: middle;
}
